html{
    background-color: black;
    color: white;
}

body{
    background-color: black !important;
    color: white !important;
}

/* bootstrap adapatations */

.bg-dark{
    background-color: black !important;
}

.col-xs-0 {
    display:block;
}
.col-xm-0 {
    display:block;
}

/*-----------------------*/

.nohe-navbar{
    padding: 20px;
}

.nohe-section{
    min-height: 90vh;
}

.nohe-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.nohe-flex-container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.nohe-flex-container-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 45%;
}


.TimelineContainer{
    min-height: 80vh;
    max-width: 60vw;
}

@media only screen and (max-width: 576px) {
    .col-xs-0 {
        display: none;
    }  
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
     .col-sm-0 {
        display: none;
    }  
}

