html {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black !important;
    color: white !important;
}

/* bootstrap adapatations */

.bg-dark {
    background-color: black !important;
}

.col-xs-0 {
    display: block;
}

.col-xm-0 {
    display: block;
}

/*-----------------------*/

.nohe-navbar {
    padding: 20px;
}

.nohe-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.nohe-flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.nohe-flex-container-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 45%;
}


.TimelineContainer {
    min-height: 80vh;
    max-width: 60vw;
}




/*General*/

.btn-pur-primary {
    border-radius: 0px;
    background-color: mediumorchid !important;
    color: white;
    padding: 0.75rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.btn-pur-primary:hover {
    background-color: purple !important;
}

/*Regular PC View*/

.Container-Home-Derecho {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;

}

.Container-Home-Derecho p {
    text-align: justify;
    margin-right: 3rem;
    max-height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Container-Home-Derecho-Lengueta {
    height: fit-content;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: end;
    align-content: end;
}

.Lengueta {
    margin-right: -25px;
    margin-bottom: 2rem;
    height: 100px;
}

.Container-Home-Izquierdo {
    background-image: url(images/fotonohe.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: auto;
    height: 100%;
}

.Container-Home-Izquierdo-izq {
    max-width: 22vw;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;

}

.BarraLateral {
    width: 1.5rem;
    margin-top: 8rem;
    margin-bottom: 10rem;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    margin-left: -1vw;
}

.BrandPicture {
    height: 4rem;   
}

.hiddenoffphone {
    display: none;
}

.groupcarrousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30vw;
}

#Start_Carrousel {
    margin-left: -30px;
    margin-top: -25px;
    margin-right: -30px;
    height: 10rem;
    background-color:#1b1a19;
}

.groupcarrousel-divcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.groupcarrousel-h1 {
    min-width: 100px;
    font-family: sans-serif;
    font-size: 3vw;    
    font-weight: bolder;
    margin-bottom: 0px;
}

.groupcarrousel-h4 {   
    min-width: 100px;
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: bolder;
    margin-bottom: 0px;
}

.groupcarrousel-plus {

    color: rgb(250, 209, 149)
}

@media only screen and (max-width: 576px) {
    .col-xs-0 {
        display: none;
    }

    .hiddenoffphone {
        display: inherit;
    }

    .Container-Home-Izquierdo {
        background-position-x: center !important;
        background-size: contain !important;
        background-position-y: bottom !important;
        background-position-x: right !important;
    }

    .Container-Home-Izquierdo-izq {
        max-width: 22vw;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
    }

    .Container-Home-Izquierdo-izq span {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        width: 80vw;
    }
  
    .BarraLateral {
        width: 1rem;
        margin-top: 4rem;
        margin-bottom: 8rem;
        max-height: 15rem;
    }

    .btn-pur-primary {
        border-radius: 0px;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #Start_Carrousel {
        height: 9rem;
        background-color: #303030;
        margin-left: -30px;
        margin-top: -85px;
        margin-right: -30px;
        position: relative;
        z-index: 1;
    }

    .groupcarrousel-h1 {
        min-width: 100px;
        font-family: sans-serif;
        font-size: 8vw;
        font-weight: bolder;
        margin-bottom: 0px;
    }
    .groupcarrousel-h4 {
        min-width: 100px;
        font-family: sans-serif;
        font-size: 4vw;
        font-weight: bolder;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .col-sm-0 {
        display: none;
    }

    .hiddenoffphone {
        display: inherit;
    }

    .Container-Home-Izquierdo {
        background-position-x: center;
        background-size: contain;
        background-position-y: bottom;

    }

    .Container-Home-Izquierdo-izq {
        max-width: 22vw;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
    }

    .Container-Home-Izquierdo-izq span {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        width: 80vw;
    }

    .BarraLateral {
        width: 1rem;
        margin-top: 4rem;
        margin-bottom: 8rem;
        max-height: 15rem;
    }

    .btn-pur-primary {
        border-radius: 0px;
        padding: 0.5rem;
        margin-top: 1rem;
    }

    #Start_Carrousel {
        height: 9rem;
        background-color: #303030;
        margin-left: -30px;
        margin-top: -85px;
        margin-right: -30px;
        position: relative;
        z-index: 1;
    }
   
    .groupcarrousel-h1 {
        min-width: 100px;
        font-family: sans-serif;
        font-size: 6vw;
        font-weight: bolder;
        margin-bottom: 0px;
    }
    .groupcarrousel-h4 {
        min-width: 100px;
        font-family: sans-serif;
        font-size: 3vw;
        font-weight: bolder;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1130px) {

    .BarraLateral {
        display: none;
    }

    .groupcarrousel-h1 {
        min-width: 100px;
        font-family: sans-serif;
        font-size: 4vw;
        font-weight: bolder;
        margin-bottom: 0px;
    }
    .groupcarrousel-h4 {
        min-width: 100px;
        font-family: sans-serif;
        font-size: 2vw;
        font-weight: bolder;
        margin-bottom: 0px;
    }

}